body {
  font-family: Arial;
  background: linear-gradient(135deg, #74ebd5, #9face6);
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.container {
  background: white;
  padding: 25px;
  width: 320px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

h1 {
  text-align: center;
  color: #6a11cb;
}

.input-area {
  display: flex;
  gap: 8px;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #6a11cb;
}

button {
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #f1f1f1;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
li div {
  display: flex;
  gap: 10px;   /* idhu dhaan space */
}

.completed {
  /* no strike effect */
  color: green;
}
.complete-btn {
  background: green;
  color: white;
  margin-right: 5px;
}

.remove-btn {
  background: red;
  color: white;
}

.complete-btn:hover {
  background: darkgreen;
}


.remove-btn:hover {
  background: darkred;
}